@font-face{
	font-family:osan;
	src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family:osan_bold;
	src:url(../fonts/OpenSans-Bold.ttf);
}

.info{
	font-family:osan_Bold;
	font-size:17px;
}
.send_but{
	font-family:osan_Bold;
	font-size:15px;
}

.info_small{
	font-family:osan;
	font-size:12px;
}
.online{
	font-family:osan_bold;
	font-size:10px;
}

.from_chat{
	font-family:osan;
	font-size:12px;
	text-align:left;
	color:rgba(0,0,0,0.8);
}
.to_chat{
	
	font-family:osan;
	font-size:12px;
	text-align:right;
	color:rgba(0,0,0,0.8);
}



