@import 'fonts';
@import 'mixins';

$red :#FF0030;

body{
	margin:0;
	padding:0;
	overflow:none;
	background:#f4f4f4;
}

.fullw{
	width:100%;
}

.flex_centered_top_bottom{
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	flex-direction:column;
}

.flex_centered_top{
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
}

.flex_centered_bottom{
	@include display(flex);
	@include align-items(flex-end);
	@include justify-content(center);
}
.flex_centered{
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.flex_centered_right{
	@include display(flex);
	@include align-items(center);
	@include justify-content(flex-end);
}

.flex_left{
	@include display(flex);
	@include align-items(center);
	@include justify-content(flex-start);
}

.flex_left_top{
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(flex-start);
}

.container{

}
.row_1{
	height:45px;
}

.padding_15{
	padding:5px;
}

.padding_15_spl_1{
	padding:5px 5px 0px 5px;
}
.padding_15_spl_2{
	padding:0px 5px 5px 5px;
}

.row_2_1{
	padding-top:5px;
	transition:all 0.3s ease;
}
.row_2_2{
	padding-bottom:5px;
	transition:all 0.3s ease;
}

.row_2_1 *{
	transition:all 0.3s ease;
}

.row_1 section{
	height:45px;
	background:linear-gradient(#f8f8f8,#ffffff);
	box-shadow:0px 1px 10px 0px rgba(0,0,0,0.3);
}

.logo{
	height:25px;
}

.flow{
	background:black;
	border-radius:3px;
	width:100%;
	height:100%;
}

.chat{
	width:100%;
	height:100%;
	background:white;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}

.video_info{
	background:white;
	width:100%;
	height:100%;
	padding:5px 20px 5px 20px;
}
.views{
	background:white;
	width:100%;
	height:100%;
	padding:5px 20px 5px 20px;
}

.chat_header{
	height:30px;
	background:linear-gradient(#cf032a,$red);
	width:100%;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
.options{
	height:10%;
	width:100%;
	padding:10px;
	background:#f5f5f5;
	border-bottom:1px solid rgba(0,0,0,0.1)
}

.text_area{
	height:67%;
	width:100%;
	padding:10px;
	background:white;
	overflow-y:scroll;
}

.textbox input[type="text"]{
	height:10%;
	width:100%;
	padding:10px;
	font-size:20;
	border:1px solid rgba(0,0,0,0.0);
	resize:none;
}

.textbox input[type="text"]:focus{
	border:1px solid rgba(0,0,0,0.3);
	outline:none;
	box-shadow:inset 0px 2px 4px 0px rgba(0,0,0,0.3);
}
.textbox input[type="text"]:hover{
	border:1px solid rgba(0,0,0,0.3);
}
.send input[type="button"]{
	background:linear-gradient(#cf032a,#FF0030);
	height:10%;
	width:100%;
	padding:10px;
	border:none;
}

.chat_spiel{
	width:100%;
	min-height:20px;
}

.arrow_container{
	position:absolute;
	left:90%;
	width:10px;
	height:30px;
}

.fliphori{
	@include transform(rotate(-180deg));
}

.box_shadow{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.apply_brdr{
	border:0px solid red;
}
