@font-face {
  font-family: osan;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: osan_bold;
  src: url(../fonts/OpenSans-Bold.ttf); }
.info {
  font-family: osan_Bold;
  font-size: 17px; }

.send_but {
  font-family: osan_Bold;
  font-size: 15px; }

.info_small {
  font-family: osan;
  font-size: 12px; }

.online {
  font-family: osan_bold;
  font-size: 10px; }

.from_chat {
  font-family: osan;
  font-size: 12px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8); }

.to_chat {
  font-family: osan;
  font-size: 12px;
  text-align: right;
  color: rgba(0, 0, 0, 0.8); }

body {
  margin: 0;
  padding: 0;
  overflow: none;
  background: #f4f4f4; }

.fullw {
  width: 100%; }

.flex_centered_top_bottom {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  flex-direction: column; }

.flex_centered_top {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

.flex_centered_bottom {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

.flex_centered {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

.flex_centered_right {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end; }

.flex_left {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start; }

.flex_left_top {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start; }

.row_1 {
  height: 45px; }

.padding_15 {
  padding: 5px; }

.padding_15_spl_1 {
  padding: 5px 5px 0px 5px; }

.padding_15_spl_2 {
  padding: 0px 5px 5px 5px; }

.row_2_1 {
  padding-top: 5px;
  transition: all 0.3s ease; }

.row_2_2 {
  padding-bottom: 5px;
  transition: all 0.3s ease; }

.row_2_1 * {
  transition: all 0.3s ease; }

.row_1 section {
  height: 45px;
  background: linear-gradient(#f8f8f8, #ffffff);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3); }

.logo {
  height: 25px; }

.flow {
  background: black;
  border-radius: 3px;
  width: 100%;
  height: 100%; }

.chat {
  width: 100%;
  height: 100%;
  background: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.video_info {
  background: white;
  width: 100%;
  height: 100%;
  padding: 5px 20px 5px 20px; }

.views {
  background: white;
  width: 100%;
  height: 100%;
  padding: 5px 20px 5px 20px; }

.chat_header {
  height: 30px;
  background: linear-gradient(#cf032a, #FF0030);
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.options {
  height: 10%;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.text_area {
  height: 67%;
  width: 100%;
  padding: 10px;
  background: white;
  overflow-y: scroll; }

.textbox input[type="text"] {
  height: 10%;
  width: 100%;
  padding: 10px;
  font-size: 20;
  border: 1px solid transparent;
  resize: none; }

.textbox input[type="text"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.textbox input[type="text"]:hover {
  border: 1px solid rgba(0, 0, 0, 0.3); }

.send input[type="button"] {
  background: linear-gradient(#cf032a, #FF0030);
  height: 10%;
  width: 100%;
  padding: 10px;
  border: none; }

.chat_spiel {
  width: 100%;
  min-height: 20px; }

.arrow_container {
  position: absolute;
  left: 90%;
  width: 10px;
  height: 30px; }

.fliphori {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.box_shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }

.apply_brdr {
  border: 0px solid red; }

/*# sourceMappingURL=index_style.css.map */
